Paginated, full-history feeds

I'd love to see micro.blog support paginated feeds with full post history, following the specification in [RFC5005](https://tools.ietf.org/html/rfc5005). I've written a patch to jekyll-feed that may be a good starting point for you: jekyll/jekyll-feed#236

Let me know if you have any questions or if I can help somehow!

@jameysharp, for this are you thinking about the timelines (micro.blog, micro.blog/username, micro.blog/discover, etc) or the hosted blogs (username.micro.blog)?

Hey Simon, thanks for checking in!

I opened this issue because somebody at last year's IndieWeb Summit asked me to; I believe it was Manton. So now I'm trying to remember what we discussed.

RFC5005 is only specified in terms of XML-based feed formats, with specific text about Atom and RSS. On e.g. https://micro.blog/manton I only see JSON Feed, which has its own mechanism for pagination that's roughly equivalent to RFC5005 section 3. Apparently https://micro.blog/discover also has a corresponding JSON Feed but doesn't link to it with `<link rel="alternate">`? Anyway, AFAICT none of those feeds are using that pagination mechanism, and it might be nice if they did, but I don't think that's what we were talking about.

So I think we must have been discussing the hosted blogs. I remember we talked about the impact that limited history has on podcasts especially, and it looks like only the hosted blogs get those? Also I guess those use Hugo; I thought we'd been talking about Jekyll at the time but any static site generator could use the approach I took in my jekyll-feed patches.

Okay, I think I've mostly swapped that conversation back in. Did this help you too?

That was indeed helpful, thanks Jamey. :)

The good news is that Manton has started enabling pagination on some themes and I think he has already said the intention is to have it possible for every theme. I don't know whether this implementation follows the specification or not but I do know that plenty of people will be happy just to see the feature.

Side-note: Micro.blog was using Jekyll up until January of this year (ish) so I don't doubt that's exactly what you were talking about.